/*GENERAL RULES*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: sans-serif;
    font-size: 16px;
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(0,0,0,1))); /* safari4+,chrome */
    background:-webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%); /* opera 11.10+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%); /* ie10+ */
    background:radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* ie6-9 */
}

.button {
    background: #00AAFF;
    background-image: -webkit-linear-gradient(right, #00AAFF, #36C7FB);
    background-image: -moz-linear-gradient(right, #00AAFF, #36C7FB);
    background-image: -ms-linear-gradient(right, #00AAFF, #36C7FB);
    background-image: -o-linear-gradient(right, #00AAFF, #36C7FB);
    background-image: linear-gradient(to right, #00AAFF, #36C7FB);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 12px;
    padding: 10px;
    min-width: 120px;
    height: 40px;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
}

.container.centered {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container.vertical {
    flex-direction: column;
}

.container.main {
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    background: white;
    margin-left: 15px;
    margin-top: 55px;

}

.container.content {
    height: 100%;
}

.container.columns {
    justify-content: center;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.1);
}

.button.outline {
    background: white;
    border: 2px solid #d5d5d5;
    color: #d5d5d5;
}

.inactive {
    color: #d5d5d5;
}

.inputs {
    width: 910px;
    align-items: center;
}


.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.column-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
}

.cards {
    margin-bottom: 20px;
}

.cards .column-item {
    padding: 0;
}

.shadowed {
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.1);
    border: 1px solid red;
}

.cards .column {
    margin-left: 20px;
    border: none;
}

.cards .column-item p:last-child {
    margin-left: auto;
}

.fa-trash-alt {
    margin-left: 20px;
}

.column-header {
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    min-height: 60px;
    max-height: 60px;
    display: flex;
    justify-content: flex-start;
}

.column-header i {
    margin-left: 5px;
}

.main-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-header .container {
    justify-items: flex-end;
    align-items: center;
}

.main-header i, .button {
    margin-left: 40px;
}

.main-header h1 {
    font-size: 40px;
    font-weight: normal;
    padding-bottom: 10px;
}

.main-header p {
    font-size: 15px;
}


.column-item .button {
    margin-left: 75px;
}

.column:not(:last-child) {
    border-right: 1px solid #e3e3e3;
    padding-right: 30px;
}



.sidebar {
    background: #7a7a7a;
    height: 625px;
    width: 180px;
    margin-top: 15px;
}

.navbar {
    background: black;
    color: white;
    justify-content: flex-start;
    align-items: center;
    min-height: 70px;
}

.navbar-item {
    display:flex;
    height: 70px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin-left: 10px;
    font-size: 12px;
}

.navbar-item:last-child {
   margin-left: auto;
    justify-content: flex-start;
}

.navbar-logo {
    width: 200px;
}

.aside-logo {
    width: 200px;
    position: absolute;
    margin: auto;
    bottom: 45px;

}

.navbar-button {
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Arial;
    color: #ffffff;
    font-size: 12px;
    background: #DE345B;
    padding: 5px;
    width: 100px;
    height: 30px;
    text-decoration: none;
    align-self: flex-start;
}

main {
    background: white;
    flex: 1;
    justify-content: center;
    align-items: flex-start;
    color: #7a7a7a;
    margin-top: 15px;
    margin-left: 10px;
}

.sidebar-header {
    color: white;
    height: 55px;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: -moz-linear-gradient(270deg, rgba(128,128,128,1) 0%, rgba(110,110,110,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(128,128,128,1)), color-stop(100%, rgba(110,110,110,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, rgba(128,128,128,1) 0%, rgba(110,110,110,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, rgba(128,128,128,1) 0%, rgba(110,110,110,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, rgba(128,128,128,1) 0%, rgba(110,110,110,1) 100%); /* ie10+ */
    background: linear-gradient(180deg, rgba(128,128,128,1) 0%, rgba(110,110,110,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#808080', endColorstr='#6E6E6E',GradientType=0 ); /* ie6-9 */
    border-bottom: 1px solid #616161;
}

.screen {
    border-bottom: 50px solid white;
    /*height: 100%;*/
    /*overflow: hidden;*/
}

input {
    padding: 10px;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid #d5d5d5;
    min-width: 120px;
    height: 40px;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0 1pt #2CC3FE;
}

.inputs .column {
    border: none;
}


.container-inputs {
    justify-content: flex-start;
    align-items: center;
}

.inputs .column-item {
    padding: 10px;
    margin: 10px 0 10px;
}

.inputs i {
    margin-left: 10px;
}

.fa-times-circle, .fa-plus {
    color: rgba(170,59,133,1);
}

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.aside-right-main {
    background: -moz-linear-gradient(145deg, rgba(170,59,133,1) 0%, rgba(224,60,124,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(224,60,124,1)), color-stop(100%, rgba(170,59,133,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(145deg, rgba(170,59,133,1) 0%, rgba(224,60,124,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(145deg, rgba(170,59,133,1) 0%, rgba(224,60,124,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(145deg, rgba(170,59,133,1) 0%, rgba(224,60,124,1) 100%); /* ie10+ */
    background: linear-gradient(305deg, rgba(170,59,133,1) 0%, rgba(224,60,124,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E03C7C', endColorstr='#AA3B85',GradientType=1 ); /* ie6-9 */
    color: white;
    width: 390px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.aside-right-main .aside-text {
    margin-left: 40px;
    margin-right: 95px;
    width: 200px;
}

.main-footer .container {
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.main-footer p, .main-footer a {
    margin: 10px;
}

.scrollable {
    height: 470px;
    width: 1070px;
    overflow: auto;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.scrollable::-webkit-scrollbar {
    width: 5px;
}

.scrollable::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;

}

.scrollable::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #0DB1F3;
}

.important {
    font-weight: bold;
    color: #E03C7C;
}

.success {
    font-weight: bold;
    color: #0DB1F3;
}

.alert {
    background: white;
    position: relative;
    padding: 80px 145px;
    max-width: 780px;
    height: 370px;
}

.alert h1 {
    font-weight: normal;
}

.alert .button {
    margin-top: 10px;
}

.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
}

.scrollable h1, p {
    margin: 10px;
}

/*SCREEN 2*/

.screen-2 .column {
    padding: 0;
    margin: 0;
}


.screen-2 .main-header {
    margin-top: 110px;
}

.screen-1 .main, .screen-2 .main, .screen-4 .main, .screen-5 .main {
    width: 1245px;
    height: 710px;
}

.screen-1 .columns {
    width: 895px;
    height: 485px;
}

.screen-3 .main {
    width: 1195px;
    height: 680px;
}

.screen-5 {
    position: relative;
}

.screen-3 .main-header {
    margin-top: 110px;
}

.screen-3 .main-header  {
    position: relative;
}

.screen-3 .main-header .main-header-icons {
    position: absolute;
    top: 0;
    right: 30px;
}

