* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: sans-serif;
    font-size: 16px;
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(0,0,0,1))); /* safari4+,chrome */
    background:-webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%); /* opera 11.10+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%); /* ie10+ */
    background:radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* ie6-9 */
}

.container {
    display: flex;
}

.container.centered {
    justify-content: center;
    align-items: center;
}

.container.vertical {
    flex-direction: column;
}

.container.main {
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    background: white;
    width: 1275px;
    height: 725px;
    margin-left: 15px;
    justify-content: flex-start;
    margin-top: 55px;

}

.container.content {
    height: 100%;
}

.container.columns {
    width: 910px;
    height: 490px;
    justify-content: flex-start;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.1);
    margin-top: 40px;
}

.inputs {
    width: 910px;
    align-items: center;
}


.button {
    background: #00AAFF;
    background-image: -webkit-linear-gradient(right, #00AAFF, #36C7FB);
    background-image: -moz-linear-gradient(right, #00AAFF, #36C7FB);
    background-image: -ms-linear-gradient(right, #00AAFF, #36C7FB);
    background-image: -o-linear-gradient(right, #00AAFF, #36C7FB);
    background-image: linear-gradient(to right, #00AAFF, #36C7FB);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 12px;
    padding: 10px;
    width: 120px;
    height: 40px;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 40px;
}

.column-item {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.column-header {
    font-size: 18px;
    font-weight: bold;
    padding: 20px 0;
}

.main-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    max-width: 650px;
    text-align: center;
}

.main-header h1 {
    font-size: 40px;
    font-weight: normal;
    padding-bottom: 10px;
}

.main-header p {
    font-size: 15px;
}


.column-item .button {
    margin-left: 75px;
}

.column:not(:last-child) {
    border-right: 1px solid #e3e3e3;
    padding-right: 30px;
    min-width: 185px;
}

.button.inactive {
    background: white;
    border: 2px solid #d5d5d5;
    color: #d5d5d5;
}

.sidebar {
    width: 190px;
    background: #7a7a7a;
    height: 625px;
    width: 180px;
    margin-top: 15px;
}

.navbar {
    background: black;
    color: white;
    justify-content: flex-start;
    align-items: center;
    min-height: 70px;
}

.navbar-item {
    display:flex;
    height: 70px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin-left: 10px;
    font-size: 12px;
}

.navbar-item:last-child {
   margin-left: auto;
    justify-content: flex-start;
}

.navbar-logo {
    width: 200px;
}

.navbar-button {
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Arial;
    color: #ffffff;
    font-size: 12px;
    background: #DE345B;
    padding: 5px;
    width: 100px;
    height: 30px;
    text-decoration: none;
    align-self: flex-start;
}

main {
    background: white;
    flex: 1;
    justify-content: center;
    align-items: flex-start;
    color: #7a7a7a;
    margin-top: 15px;
    margin-left: 10px;
}

.sidebar-header {
    color: white;
    height: 55px;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: -moz-linear-gradient(270deg, rgba(128,128,128,1) 0%, rgba(110,110,110,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(128,128,128,1)), color-stop(100%, rgba(110,110,110,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, rgba(128,128,128,1) 0%, rgba(110,110,110,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, rgba(128,128,128,1) 0%, rgba(110,110,110,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, rgba(128,128,128,1) 0%, rgba(110,110,110,1) 100%); /* ie10+ */
    background: linear-gradient(180deg, rgba(128,128,128,1) 0%, rgba(110,110,110,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#808080', endColorstr='#6E6E6E',GradientType=0 ); /* ie6-9 */
    border-bottom: 1px solid #616161;
}

.screen {
    border-bottom: 50px solid white;
}

input {
    padding: 10px;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid #d5d5d5;
    min-width: 120px;
    height: 40px;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0 1pt #2CC3FE;
}

.inputs .column {
    border: none;
}

.inputs .column:first-child .column-item {
    max-width: 100px;
}

.container-inputs {
    justify-content: flex-start;
    align-items: center;
    width: 1120px;
    height: 680px;
}

.inputs .column-item {
    padding: 10px;
    margin: 10px 0 10px;
}

.inputs i {
    margin-left: 10px;
}

.fa-times-circle {
    color: rgba(170,59,133,1);
}

/*.overlay {*/
    /*position: absolute;*/
    /*background-color: rgba(0, 0, 0, 0.75);*/
    /*top: 0px;*/
    /*bottom: 0px;*/
    /*right: 0;*/
    /*left: 0;*/
/*}*/

.aside-right-main {
    background: -moz-linear-gradient(145deg, rgba(170,59,133,1) 0%, rgba(224,60,124,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(224,60,124,1)), color-stop(100%, rgba(170,59,133,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(145deg, rgba(170,59,133,1) 0%, rgba(224,60,124,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(145deg, rgba(170,59,133,1) 0%, rgba(224,60,124,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(145deg, rgba(170,59,133,1) 0%, rgba(224,60,124,1) 100%); /* ie10+ */
    background: linear-gradient(305deg, rgba(170,59,133,1) 0%, rgba(224,60,124,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E03C7C', endColorstr='#AA3B85',GradientType=1 ); /* ie6-9 */
    height:100%;
    width: 375px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside-right-main div {
    margin-left: 20px;
    width: 250px;
}

.main-footer .container {
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.main-footer p, .main-footer a {
    margin: 10px;
}

.scrollable {
    height: 410px;
    overflow: auto;
}

